## Deliverable 2. Create a Customer Travel Destinations Map.

In [18]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt
import csv
import numpy as np
from citipy import citipy

# Import API key
from config import g_key
from config import weather_api_key 

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [19]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,city,latitude,longitude,temperature,humidity,cloudiness,wind,description,country
0,0,bredasdorp,-34.53,20.04,60.80,87,0,11.41,clear sky,ZA
1,1,bhitarwar,25.80,78.12,84.20,83,40,4.70,scattered clouds,IN
2,2,baculin,7.45,126.58,79.43,74,92,4.21,overcast clouds,PH
3,3,esil,51.96,66.40,50.14,64,6,5.79,clear sky,KZ
4,4,saint-philippe,-21.36,55.77,69.80,94,90,16.11,mist,RE

In [20]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

print("enter a minimum temperature")
min = float(input())
print("enter a maximum temperture")
max = float(input())

enter a minimum temperature
50
enter a maximum temperture
100

In [21]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_df = city_data_df.loc[(city_data_df["temperature"]<max)&(city_data_df["temperature"]>min)]
ideal_df.head(15)

,Unnamed: 0,city,latitude,longitude,temperature,humidity,cloudiness,wind,description,country
0,0,bredasdorp,-34.53,20.04,60.80,87,0,11.41,clear sky,ZA
1,1,bhitarwar,25.80,78.12,84.20,83,40,4.70,scattered clouds,IN
2,2,baculin,7.45,126.58,79.43,74,92,4.21,overcast clouds,PH
3,3,esil,51.96,66.40,50.14,64,6,5.79,clear sky,KZ
4,4,saint-philippe,-21.36,55.77,69.80,94,90,16.11,mist,RE
5,5,arraial do cabo,-22.97,-42.03,80.60,69,20,10.29,few clouds,BR
8,8,klaksvik,62.23,-6.59,51.80,93,17,18.34,drizzle,FO
9,9,shubarshi,48.59,57.19,64.13,30,3,8.10,clear sky,KZ
10,10,makakilo city,21.35,-158.09,78.80,83,90,5.82,overcast clouds,US
11,11,dubbo,-32.25,148.62,53.60,81,3,11.41,clear sky,AU
12,12,hobart,-42.88,147.33,60.01,58,100,3.36,overcast clouds,AU
15,15,puerto ayora,-0.74,-90.35,77.00,61,40,13.87,scattered clouds,EC
16,16,college,64.86,-147.80,53.60,71,75,3.36,broken clouds,US
17,17,new norfolk,-42.78,147.06,60.01,58,100,3.36,overcast clouds,AU
20,20,cidreira,-30.18,-50.21,57.69,93,100,13.42,moderate rain,BR

In [22]:
# 4a. Determine if there are any empty rows.

ideal = ideal_df.dropna()
len(ideal_df)-len(ideal)

8

In [23]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
ideal = ideal_df.dropna()

In [24]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = ideal[["city", "country", "temperature", "description", "latitude", "longitude"]].copy()


# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(15)

,city,country,temperature,description,latitude,longitude,Hotel Name
0,bredasdorp,ZA,60.80,clear sky,-34.53,20.04,
1,bhitarwar,IN,84.20,scattered clouds,25.80,78.12,
2,baculin,PH,79.43,overcast clouds,7.45,126.58,
3,esil,KZ,50.14,clear sky,51.96,66.40,
4,saint-philippe,RE,69.80,mist,-21.36,55.77,
5,arraial do cabo,BR,80.60,few clouds,-22.97,-42.03,
8,klaksvik,FO,51.80,drizzle,62.23,-6.59,
9,shubarshi,KZ,64.13,clear sky,48.59,57.19,
10,makakilo city,US,78.80,overcast clouds,21.35,-158.09,
11,dubbo,AU,53.60,clear sky,-32.25,148.62,
12,hobart,AU,60.01,overcast clouds,-42.88,147.33,
15,puerto ayora,EC,77.00,scattered clouds,-0.74,-90.35,
16,college,US,53.60,broken clouds,64.86,-147.80,
17,new norfolk,AU,60.01,overcast clouds,-42.78,147.06,
20,cidreira,BR,57.69,moderate rain,-30.18,-50.21,

In [25]:
# 6a. Set parameters to search for hotels with 5000 meters.
# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
for index,row in hotel_df.iterrows():
    params["location"]=f"{row['latitude']},{row['longitude']}"
    baseurl="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    address=requests.get(baseurl,params=params).json()
    try:
        hotel_df.loc[index,"Hotel Name"]=address["results"][0]["name"]
    except:
        print("missing "+ str(row))
hotel_df

missing city           shubarshi
country               KZ
temperature        64.13
description    clear sky
latitude           48.59
longitude          57.19
Hotel Name
Name: 9, dtype: object
missing city                 edd
country               ER
temperature        93.56
description    clear sky
latitude           13.93
longitude          41.69
Hotel Name
Name: 48, dtype: object
missing city                jurm
country               AF
temperature        58.19
description    clear sky
latitude           36.86
longitude          70.83
Hotel Name
Name: 56, dtype: object
missing city              bukama
country               CD
temperature         79.9
description    clear sky
latitude            -9.2
longitude          25.85
Hotel Name
Name: 59, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 106, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 109, dtype: object
missing city                   beinamar
country                      TD
temperature               71.51
description    scattered clouds
latitude                   8.67
longitude                 15.38
Hotel Name
Name: 182, dtype: object
missing city                       obo
country                     CF
temperature              68.63
description    overcast clouds
latitude                   5.4
longitude                26.49
Hotel Name
Name: 188, dtype: object
missing city              tiznit
country               MA
temperature        90.55
description    clear sky
latitude           29.58
longitude           -9.5
Hotel Name
Name: 194, dtype: object
missing city              tiznit
country               MA
temperature        90.55
description    clear sky
latitude           29.58
longitude           -9.5
Hotel Name
Name: 204, dtype: object
missing city            ostrovnoy
country                RU
temperature         52.41
description    light rain
latitude            68.05
longitude           39.51
Hotel Name
Name: 205, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 252, dtype: object
missing city              kasongo-lunda
country                      CD
temperature               82.58
description    scattered clouds
latitude                  -6.47
longitude                 16.82
Hotel Name
Name: 266, dtype: object
missing city             padre bernardo
country                      BR
temperature               96.22
description    scattered clouds
latitude                 -15.35
longitude                 -48.5
Hotel Name
Name: 281, dtype: object
missing city                      avera
country                      US
temperature                  86
description    scattered clouds
latitude                  33.19
longitude                -82.53
Hotel Name
Name: 292, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 293, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 311, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 342, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 381, dtype: object
missing city                      kieta
country                      PG
temperature               79.02
description    scattered clouds
latitude                  -6.22
longitude                155.63
Hotel Name
Name: 406, dtype: object
missing city                     muzhi
country                     RU
temperature              52.27
description    overcast clouds
latitude                 65.37
longitude                64.67
Hotel Name
Name: 429, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 435, dtype: object
missing city                   laela
country                   TZ
temperature             67.1
description    broken clouds
latitude               -8.57
longitude              32.05
Hotel Name
Name: 445, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 450, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 455, dtype: object
missing city             makuyuni
country                TZ
temperature         69.58
description    few clouds
latitude            -4.73
longitude            38.1
Hotel Name
Name: 470, dtype: object
missing city             kaniama
country               CD
temperature        78.62
description    clear sky
latitude           -7.57
longitude          24.18
Hotel Name
Name: 492, dtype: object
missing city                   gamba
country                   GA
temperature            74.73
description    broken clouds
latitude               -2.65
longitude                 10
Hotel Name
Name: 513, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 522, dtype: object
missing city                 mafinga
country                   TZ
temperature               72
description    broken clouds
latitude               -7.25
longitude              35.07
Hotel Name
Name: 532, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 535, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 556, dtype: object
missing city             moshupa
country               BW
temperature         66.2
description    clear sky
latitude          -24.78
longitude          25.42
Hotel Name
Name: 561, dtype: object
missing city                mongo
country                TD
temperature         78.39
description    light rain
latitude            12.18
longitude           18.69
Hotel Name
Name: 575, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 621, dtype: object

missing city                pechenga
country                   RU
temperature             53.6
description    broken clouds
latitude               69.53
longitude              31.17
Hotel Name
Name: 623, dtype: object
missing city            micheweni
country                TZ
temperature         75.51
description    few clouds
latitude            -4.97
longitude           39.83
Hotel Name
Name: 659, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 692, dtype: object
missing city           sagua de tanamo
country                     CU
temperature              84.33
description    overcast clouds
latitude                 20.58
longitude               -75.24
Hotel Name
Name: 715, dtype: object
missing city                   sandovo
country                     RU
temperature              57.18
description    overcast clouds
latitude                 58.46
longitude                36.41
Hotel Name
Name: 740, dtype: object
missing city                  sobolevo
country                     RU
temperature              55.47
description    very heavy rain
latitude                 54.43
longitude                 31.9
Hotel Name
Name: 754, dtype: object
missing city            beroroha
country               MG
temperature        69.03
description    clear sky
latitude          -21.67
longitude          45.17
Hotel Name
Name: 759, dtype: object
missing city             erzurum
country               TR
temperature           68
description    clear sky
latitude              40
longitude           41.5
Hotel Name
Name: 768, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 771, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 784, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 812, dtype: object
missing city                   nalut
country                   LY
temperature            89.15
description    broken clouds
latitude               30.33
longitude              10.85
Hotel Name
Name: 844, dtype: object
missing city                      kidal
country                      ML
temperature               94.69
description    scattered clouds
latitude                  18.44
longitude                  1.41
Hotel Name
Name: 882, dtype: object
missing city                   talakan
country                     RU
temperature              58.96
description    overcast clouds
latitude                 50.32
longitude               130.37
Hotel Name
Name: 883, dtype: object
missing city              yakima
country               US
temperature         82.4
description    clear sky
latitude           46.47
longitude        -120.67
Hotel Name
Name: 890, dtype: object
missing city                  sobolevo
country                     RU
temperature              55.47
description    very heavy rain
latitude                 54.43
longitude                 31.9
Hotel Name
Name: 987, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1045, dtype: object
missing city               umm kaddadah
country                      SD
temperature               92.12
description    scattered clouds
latitude                   13.6
longitude                 26.69
Hotel Name
Name: 1046, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1085, dtype: object
missing city           mayor pablo lagerenza
country                           PY
temperature                    83.88
description            broken clouds
latitude                      -19.93
longitude                     -60.77
Hotel Name
Name: 1088, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1105, dtype: object
missing city            tessalit
country               ML
temperature        98.19
description    clear sky
latitude            20.2
longitude           1.01
Hotel Name
Name: 1133, dtype: object
missing city               aksha
country               RU
temperature        50.43
description    clear sky
latitude           50.28
longitude         113.29
Hotel Name
Name: 1134, dtype: object
missing city                     birao
country                     CF
temperature              72.57
description    overcast clouds
latitude                 10.28
longitude                22.79
Hotel Name
Name: 1151, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1220, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1223, dtype: object
missing city                    tunggol
country                      PH
temperature               81.16
description    scattered clouds
latitude                   5.84
longitude                121.15
Hotel Name
Name: 1230, dtype: object
missing city                   gamba
country                   GA
temperature            74.73
description    broken clouds
latitude               -2.65
longitude                 10
Hotel Name
Name: 1234, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1301, dtype: object
missing city           mayor pablo lagerenza
country                           PY
temperature                    83.88
description            broken clouds
latitude                      -19.93
longitude                     -60.77
Hotel Name
Name: 1312, dtype: object
missing city               seduva
country                LT
temperature          53.6
description    few clouds
latitude            55.77
longitude           23.77
Hotel Name
Name: 1313, dtype: object
missing city                  sobolevo
country                     RU
temperature              55.47
description    very heavy rain
latitude                 54.43
longitude                 31.9
Hotel Name
Name: 1319, dtype: object
missing city                     nioro
country                     GM
temperature              77.97
description    overcast clouds
latitude                 13.35
longitude               -15.75
Hotel Name
Name: 1329, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1367, dtype: object

missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1417, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1458, dtype: object
missing city            bekhtery
country               UA
temperature         71.6
description    clear sky
latitude           46.25
longitude          32.29
Hotel Name
Name: 1465, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1486, dtype: object
missing city                      avera
country                      US
temperature                  86
description    scattered clouds
latitude                  33.19
longitude                -82.53
Hotel Name
Name: 1491, dtype: object
missing city             dubrovka
country                RU
temperature         61.59
description    light rain
latitude            53.69
longitude           33.51
Hotel Name
Name: 1513, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1525, dtype: object
missing city                      avera
country                      US
temperature                  86
description    scattered clouds
latitude                  33.19
longitude                -82.53
Hotel Name
Name: 1528, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1575, dtype: object
missing city           abu samrah
country                SY
temperature         81.59
description     clear sky
latitude             35.3
longitude           37.18
Hotel Name
Name: 1576, dtype: object
missing city           dmitriyevka
country                 RU
temperature           51.8
description      clear sky
latitude             54.75
longitude            55.33
Hotel Name
Name: 1589, dtype: object
missing city                      avera
country                      US
temperature                  86
description    scattered clouds
latitude                  33.19
longitude                -82.53
Hotel Name
Name: 1630, dtype: object
missing city               gazli
country               UZ
temperature        63.25
description    clear sky
latitude           40.13
longitude          63.45
Hotel Name
Name: 1655, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1677, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1691, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1698, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1730, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1736, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1773, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1800, dtype: object
missing city            ostrovnoy
country                RU
temperature         52.41
description    light rain
latitude            68.05
longitude           39.51
Hotel Name
Name: 1816, dtype: object
missing city                      mbini
country                      GQ
temperature                80.6
description    scattered clouds
latitude                   1.57
longitude                  9.61
Hotel Name
Name: 1820, dtype: object
missing city                     albany
country                      US
temperature               78.01
description    scattered clouds
latitude                   42.6
longitude                -73.97
Hotel Name
Name: 1823, dtype: object
missing city            tessalit
country               ML
temperature        98.19
description    clear sky
latitude            20.2
longitude           1.01
Hotel Name
Name: 1835, dtype: object

,city,country,temperature,description,latitude,longitude,Hotel Name
0,bredasdorp,ZA,60.80,clear sky,-34.53,20.04,Bredasdorp Country Manor
1,bhitarwar,IN,84.20,scattered clouds,25.80,78.12,MPEB bhitarwar
2,baculin,PH,79.43,overcast clouds,7.45,126.58,Shovy's Cove
3,esil,KZ,50.14,clear sky,51.96,66.40,Egorkino Hotel
4,saint-philippe,RE,69.80,mist,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...,...
1845,ponta do sol,PT,75.00,scattered clouds,32.67,-17.10,Hotel do Campo
1846,tagusao,PH,80.67,scattered clouds,9.19,117.81,"Shaman's Breath- Beach, Bed & Breakfast"
1847,san cristobal,VE,89.60,scattered clouds,7.77,-72.22,Pirineos
1848,carnarvon,AU,64.40,broken clouds,-24.87,113.63,Hospitality Carnarvon
1849,norman wells,CA,51.80,overcast clouds,65.28,-126.83,Heritage Hotel

In [26]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [27]:
# 8a. Create the output File (CSV)
output_data_file = "hotels.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [28]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>name</dt><dd>{Hotel Name}<dd>
<dt>city</dt><dd>{city}</dd>
<dt>country</dt><dd>{country}</dd>
<dt>description</dt><dd>{description}</dd>
<dt>temperature</dt><dd>{temperature}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["latitude", "longitude"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
#%pylab inline
#marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
#fig.add_layer(marker_layer)

# 11b. Display the figure
#fig

In [31]:
# 11a. Add a marker layer for each city to the map.
#%pylab inline
fig=gmaps.figure()
locations = clean_hotel_df[["latitude", "longitude"]]
max_temp = clean_hotel_df[["temperature"]]
description = clean_hotel_df[["description"]]
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
clean_hotel_df.to_csv('WeatherPy_vacation.csv', index = False)